@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/Imgaes/turbo_final.jpg" alt="alternatetext" style="width:500px;height:200px;">
    <h1 class="display-4">Welcome!</h1>
    <br />
    <h2>TurboTaskEr is here to make your life and tasks easier!</h2> 
</div>
